#Title-Stuff{
    font-size: 70px;
    text-align: center;
    background-color: chartreuse;
    margin: 0;
    padding: 0px 0 25px 0;
}

h3{
    font-size: 35px;
}

#Box-1{
    background-color: brown;
    padding: 40px;
}

#Box-2{
    background-color: cornflowerblue;
    padding: 40px;
}

h1{
    margin: 0;
}

#All-Body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
}

#All-Body div{
    text-align: center;
}

#Result-Box{
    background-color: khaki;
    height: 213px;
    width: 276px;
}

#Result-Box h3{
    position: relative;
    top: 19%;
}

#Result-Box div{
    position: relative;
    top: 3%;
    font-size: x-large;
}

#Box-Of-Boxes{
    display: flex;
    margin-bottom: 20px;
}

#Operation-buttons{
    margin-bottom: 20px;
}

#Operation-buttons button{
    width: 55px;
    height: 25px;
}

#Operation-Box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Equals-Box{
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

#Reset{
    width: 70px;
    height: 35px;
}

#Calculator-Body{
    display: flex;
    align-content: center;
    justify-content: center;
}

#Main-Calculator-Body{
    margin-top: 20px;
    width: 400px;
    height: 600px;
    background-color: lightgray;
    border-radius: 15%;
}